option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false

  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '1'
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com,127.0.0.1,localhost"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "mysite.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true